<div class="container-fluid withoutPadding">
  <div class="row withoutPadding">
    <div class="col-2 inner">
      <label class="col-form-label-sm">{{ item?.identificacionRubro }}</label>
    </div>
    <div class="col-5 inner">
      <label class="col-form-label-sm">{{ item?.rubroNombre }}</label>
    </div>
    <div class="col-1 inner right">
      <label class="col-form-label-sm">{{
        item?.valorAct | number: "1.0-3"
      }}</label>
    </div>
    <div class="col-1 inner right">
      <label class="col-form-label-sm">{{
        item?.valorCDP | number: "1.0-3"
      }}</label>
    </div>
    <div class="col-1 inner right">
      <label class="col-form-label-sm">{{
        item?.saldoCDP | number: "1.0-3"
      }}</label>
    </div>
    <div class="col-2 inner right">
      <input        
        type="textbox"
        name="amount"
        required
        appTwoDigitDecimaNumber
        style="text-align: right;"
        class="form-control col-form-label-sm"
      />
      <div class="invalid-feedback">El objeto del bien es requerido</div>
    </div>
  </div>
</div>
