table {
  border-collapse: collapse;
  width: 100%;
}

.bordealo {
  border: 1px solid #ccc;
}

.addPadding {
  padding: 10px;
  background-color: transparent;
} 

.addPaddingTop {
  padding-top: 10px;
  background-color: transparent;
} 

.withoutPadding {
  padding: 0px;
  padding-left: 0px;
}

.withoutBorder {
  border: none;
}

.withoutBorderBotton {
  border-bottom: none;
}

.withBorderBotton {
  border-bottom: 1px solid #ccc;
}

.inner {
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-top: 1px solid #ccc;
  height: 25px;
  padding-left: 5px;
  color:#666;
}

table td {
  padding: 0px;
  vertical-align: top;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.left {
  text-align: left;
}

input[type="text"],
input[type="textArea"] {
  background-color: white;
  height: 25px;
  padding-left: 5px;
}

.aplicaBackground {
  background-color: white;
}

select
{
    background-color:white;
    padding: 5px;
    height: 25px;
}

