<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <form
        #editForm="ngForm"
        id="editForm"
        [formGroup]="registerForm"
        (ngSubmit)="onRegister()"
      >
        <h2 class="text-center text-primary">Registro de usuario</h2>
        <hr />
        <div class="form-group">
          <div class="col-12">
            <div *ngIf="editForm.dirty" class="alert alert-info">
              <strong>Información:</strong> Has realizado cambios en el
              formulario. Cualquier cambio no guardado se perderá!!!
            </div>
          </div>
        </div>

        <div class="form-group" *ngIf="!editMode">
          <input
            [ngClass]="{
              'is-invalid':
                registerForm.get('usernameCtrl').errors &&
                registerForm.get('usernameCtrl').touched
            }"
            type="text"
            class="form-control"
            placeholder="Usuario"
            formControlName="usernameCtrl"
            id="username"
          />
          <div class="invalid-feedback">Por favor ingresa tu usuario</div>
        </div>

        <div class="form-group">
          <input
            [ngClass]="{
              'is-invalid':
                registerForm.get('nombreCtrl').errors &&
                registerForm.get('nombreCtrl').touched
            }"
            type="text"
            class="form-control"
            placeholder="Nombres"
            formControlName="nombreCtrl"
            #inputNombres
            (input)="inputNombres.value = $event.target.value.toUpperCase()"
          />
          <div
            class="invalid-feedback"
            *ngIf="
              registerForm.get('nombreCtrl').touched &&
              registerForm.get('nombreCtrl').hasError('required')
            "
          >
            Los nombres son requeridos
          </div>
        </div>

        <div class="form-group">
          <input
            [ngClass]="{
              'is-invalid':
                registerForm.get('apellidoCtrl').errors &&
                registerForm.get('apellidoCtrl').touched
            }"
            type="text"
            class="form-control"
            placeholder="Apellidos"
            formControlName="apellidoCtrl"
            #inputApellidos
            (input)="inputApellidos.value = $event.target.value.toUpperCase()"
          />
          <div
            class="invalid-feedback"
            *ngIf="
              registerForm.get('apellidoCtrl').touched &&
              registerForm.get('apellidoCtrl').hasError('required')
            "
          >
            Los apellidos son requeridos
          </div>
        </div>

        <div class="form-group" *ngIf="!editMode">
          <input
            type="password"
            [ngClass]="{
              'is-invalid':
                registerForm.get('passwordCtrl').errors &&
                registerForm.get('passwordCtrl').touched
            }"
            class="form-control"
            placeholder="Password"
            formControlName="passwordCtrl"
          />
          <div
            class="invalid-feedback"
            *ngIf="
              registerForm.get('passwordCtrl').touched &&
              registerForm.get('passwordCtrl').hasError('required')
            "
          >
            El password es requerido
          </div>
          <div
            class="invalid-feedback"
            *ngIf="
              registerForm.get('passwordCtrl').hasError('minlength') &&
              registerForm.get('passwordCtrl').touched
            "
          >
            El password debe tener como mínimo 4 caracteres
          </div>
          <div
            class="invalid-feedback"
            *ngIf="
              registerForm.get('passwordCtrl').hasError('maxlength') &&
              registerForm.get('passwordCtrl').touched
            "
          >
            El password no puede exceder de 8 caracteres
          </div>
        </div>

        <div class="form-group" *ngIf="!editMode">
          <input
            type="password"
            [ngClass]="{
              'is-invalid':
                (registerForm.get('confirmPasswordCtrl').errors &&
                  registerForm.get('confirmPasswordCtrl').touched) ||
                (registerForm.get('confirmPasswordCtrl').touched &&
                  registerForm.hasError('mismatch'))
            }"
            class="form-control"
            placeholder="Password"
            formControlName="confirmPasswordCtrl"
          />
          <div
            class="invalid-feedback"
            *ngIf="
              registerForm.get('confirmPasswordCtrl').hasError('required') &&
              registerForm.get('confirmPasswordCtrl').touched
            "
          >
            Password es requerido
          </div>
          <div
            class="invalid-feedback"
            *ngIf="
              registerForm.hasError('mismatch') &&
              registerForm.get('confirmPasswordCtrl').touched
            "
          >
            Los passwords deben coincidir
          </div>
        </div>

        <div class="form-group">
          <select
            formControlName="areaControl"
            (change)="onSelectArea()"
            class="form-control list"
            [(ngModel)]="areaSeleccionada"
            [ngClass]="{
              'is-invalid':
                registerForm.get('areaControl').touched &&
                registerForm.get('areaControl').hasError('required')
            }"
            style="padding: 0px"
          >
            <option [ngValue]="null" disabled>Selecciona el area</option>
            <option *ngFor="let prf of areas" [ngValue]="prf">
              {{ prf.nombre }}
            </option>
          </select>
          <div
            class="invalid-feedback"
            *ngIf="
              registerForm.get('areaControl').touched &&
              registerForm.get('areaControl').hasError('required')
            "
          >
            El area es requerida
          </div>
        </div>

        <div class="form-group">
          <select
            formControlName="cargoControl"
            (change)="onSelectCargo()"
            class="form-control list"
            [(ngModel)]="cargoSeleccionado"
            [ngClass]="{
              'is-invalid':
                registerForm.get('cargoControl').touched &&
                registerForm.get('cargoControl').hasError('required')
            }"
            style="padding: 0px"
          >
            <option [ngValue]="null" disabled>Selecciona el cargo</option>
            <option *ngFor="let prf of cargos" [ngValue]="prf">
              {{ prf.nombre }}
            </option>
          </select>
          <div
            class="invalid-feedback"
            *ngIf="
              registerForm.get('cargoControl').touched &&
              registerForm.get('cargoControl').hasError('required')
            "
          >
            El cargo es requerido
          </div>
        </div>

        <div class="row" style="padding-left: 15px; padding-right: 15px">
          <div class="col-1 inner">
            <label class="col-form-label-md">Sel.</label>
          </div>
          <div class="col-11 inner">
            <label class="col-form-label-md">Perfil</label>
          </div>
        </div>
        <div *ngIf="perfiles">
          <div
            
            class="row"
            style="padding-left: 15px; padding-right: 15px"
            *ngFor="let perfilControl of perfilesControl; let i = index"
          >           
              <div class="col-1 inner center aplicaBackground">
                <label class="col-form-label-md">
                  <input type="checkbox" [formControl]="perfilControl" value="perfiles[i].PerfilId"/>
                </label>
              </div>
              <div class="col-11 inner left aplicaBackground">
                <label class="col-form-label-md">{{ this.perfiles[i]?.nombre }}</label>
              </div>
         
          </div>
        </div>

        <div class="form-group text-left mt-3">
          <button
            class="btn btn-primary mr-3"
            type="submit"
            [disabled]="!registerForm.dirty"
            id="btnGuardar"
          >
            Registrar
          </button>
          <button class="btn btn-default" type="button" (click)="onCancel()">
            Cancelar
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- <p>Form value: {{ registerForm.value | json }}</p>
<p>Form status: {{ registerForm.status | json }}</p>
<p>Usuario: {{ user | json }}</p> -->
