<form [formGroup]="registerForm" (ngSubmit)="onRegister()">
  <h2 class="text-center text-primary">Registro de usuario</h2>
  <hr />
  <div class="form-group">
    <input
      [ngClass]="{
        'is-invalid':
          registerForm.get('username').errors &&
          registerForm.get('username').touched
      }"
      type="text"
      class="form-control"
      placeholder="Usuario"
      formControlName="username"
    />
    <div class="invalid-feedback">Por favor ingresa tu usuario</div>
  </div>

  <div class="form-group">
    <input
      [ngClass]="{
        'is-invalid':
          registerForm.get('nombres').errors &&
          registerForm.get('nombres').touched
      }"
      class="form-control"
      placeholder="Nombres"
      formControlName="nombres"
    />
    <div
      class="invalid-feedback"
      *ngIf="
        registerForm.get('nombres').touched &&
        registerForm.get('nombres').hasError('required')
      "
    >
      Los nombres son requeridos
    </div>
  </div>

  <div class="form-group">
    <input
      [ngClass]="{
        'is-invalid':
          registerForm.get('apellidos').errors &&
          registerForm.get('apellidos').touched
      }"
      class="form-control"
      placeholder="Apellidos"
      formControlName="apellidos"
    />
    <div
      class="invalid-feedback"
      *ngIf="
        registerForm.get('apellidos').touched &&
        registerForm.get('apellidos').hasError('required')
      "
    >
      Los apellidos son requeridos
    </div>
  </div>

  <div class="form-group">
    <input
      type="password"
      [ngClass]="{
        'is-invalid':
          registerForm.get('password').errors &&
          registerForm.get('password').touched
      }"
      class="form-control"
      placeholder="Password"
      formControlName="password"
    />
    <div
      class="invalid-feedback"
      *ngIf="
        registerForm.get('password').touched &&
        registerForm.get('password').hasError('required')
      "
    >
      El password es requerido
    </div>
    <div
      class="invalid-feedback"
      *ngIf="
        registerForm.get('password').hasError('minlength') &&
        registerForm.get('password').touched
      "
    >
      El password debe tener como mínimo 4 caracteres
    </div>
    <div
      class="invalid-feedback"
      *ngIf="
        registerForm.get('password').hasError('maxlength') &&
        registerForm.get('password').touched
      "
    >
      El password no puede exceder de 8 caracteres
    </div>
  </div>

  <div class="form-group">
    <input
      type="password"
      [ngClass]="{
        'is-invalid':
          (registerForm.get('confirmPassword').errors &&
            registerForm.get('confirmPassword').touched) ||
          (registerForm.get('confirmPassword').touched &&
            registerForm.hasError('mismatch'))
      }"
      class="form-control"
      placeholder="Password"
      formControlName="confirmPassword"
    />
    <div
      class="invalid-feedback"
      *ngIf="
        registerForm.get('confirmPassword').hasError('required') &&
        registerForm.get('confirmPassword').touched
      "
    >
      Password es requerido
    </div>
    <div
      class="invalid-feedback"
      *ngIf="
        registerForm.hasError('mismatch') &&
        registerForm.get('confirmPassword').touched
      "
    >
      Los passwords deben coincidir
    </div>
  </div>
  <div class="form-group">
    <select
      formControlName="areaControl"
      (change)="onSelectArea()"
      class="form-control"
      [(ngModel)]="user.areaId"
      [ngClass]="{
        'is-invalid':
          registerForm.get('areaControl').touched &&
          registerForm.get('areaControl').hasError('required')
      }"
    >
      <option [ngValue]="null" disabled>Selecciona el area</option>
      <option *ngFor="let prf of areas" [ngValue]="prf">
        {{ prf.descripcion }}
      </option>
    </select>
    <div
      class="invalid-feedback"
      *ngIf="
        registerForm.get('areaControl').touched &&
        registerForm.get('areaControl').hasError('required')
      "
    >
      El area es requerida
    </div>
  </div>

  <div class="form-group">
    <select
      formControlName="cargoControl"
      (change)="onSelectCargo()"
      class="form-control"
      [(ngModel)]="user.cargoId"
      [ngClass]="{
        'is-invalid':
          registerForm.get('cargoControl').touched &&
          registerForm.get('cargoControl').hasError('required')
      }"
    >
      <option [ngValue]="null" disabled>Selecciona el cargo</option>
      <option *ngFor="let prf of cargos" [ngValue]="prf">
        {{ prf.descripcion }}
      </option>
    </select>
    <div
      class="invalid-feedback"
      *ngIf="
        registerForm.get('cargoControl').touched &&
        registerForm.get('cargoControl').hasError('required')
      "
    >
      El cargo es requerido
    </div>
  </div>
  <div class="form-group">
    <label>
      <input
        type="checkbox"
        class="form-control"
        formControlName="EsAdministradorControl"
      /> Es Administrador
    </label>
  </div>

  <div class="form-group text-center">
    <button
      class="btn btn-success mr-2"
      type="submit"
      [disabled]="registerForm.invalid"
    >
      Registrarse
    </button>
    <button class="btn btn-default" type="button" (click)="onCancel()">
      Cancelar
    </button>
  </div>
</form>
<p>Form value: {{ registerForm.value | json }}</p>
