<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="card">
        <h1>{{ cdp?.cdp }}</h1>
        <div class="card-body">
          <div>
            <strong>Fecha:</strong>
            <p>{{ cdp?.fecha | date: "mediumDate" }}</p>
          </div>
          <div>
            <strong>Estado:</strong>
            <p>{{ cdp?.estado }}</p>
          </div>  
        </div>
        <div class="card-footer">
          <div class="btn-group d-flex">
            <button class="btn btn-primary w-100">Like</button>
            <button class="btn btn-success w-100">Message</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
