<div class="container-fluid">
  <div class="row">
    <div class="col-12 addPadding">
      <div class="modal-content">
        <div class="modal-header" style="padding: 5px">
          <h4 class="modal-title pull-left" style="margin: 0px">{{ title }}</h4>
          <button
            type="button"
            class="close pull-right"
            aria-label="Close"
            (click)="bsModalRef.hide()"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div
          class="modal-body"
          style="padding-top: 0px; background-color: gainsboro"
        >
          <form [formGroup]="popupForm">
            <!--USO PRESUPUESTAL-->
            <div class="form-row mt-2">
              <div class="form-group col-12">
                <!--Grilla-->
                <div class="container-fluid">
                  <div class="row">
                    <div style="width: 3%"></div>
                    <div class="inner center" style="width: 27%">
                      <label class="col-form-label"
                        ><strong>Identificación</strong></label
                      >
                    </div>
                    <div class="inner center" style="width: 70%">
                      <label class="col-form-label"
                        ><strong>Uso Presupuestal</strong></label
                      >
                    </div>
                  </div>
                  <div *ngIf="listaUsoPresupuestal">
                    <div
                      formArrayName="usoControles"
                      class="row"
                      *ngFor="let item of listaUsoPresupuestal; let i = index"
                    >
                      <ng-container [formGroupName]="i">
                        <div
                          style="width: 3%"
                          class="inner center aplicaBackground"
                        >
                          <input
                            type="radio"
                            [value]="item?.id"
                            (change)="onCheckChange($event)"
                            name="inlineDefaultRadiosExample"
                          />
                        </div>
                        <div
                          class="inner center aplicaBackground"
                          style="width: 27%"
                        >
                          <p class="medium">
                            {{ item?.codigo }}
                          </p>
                        </div>
                        <div
                          class="inner left aplicaBackground"
                          style="width: 70%"
                        >
                          <p class="medium">
                            {{ item?.nombre }}
                          </p>
                        </div>
                      </ng-container>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!--RELACION CONTABLE-->
            <div class="form-row mt-2">
              <div class="form-group col-12">
                <!--Grilla-->
                <div class="container-fluid">
                  <div class="row">
                    <div style="width: 3%"></div>
                    <div class="inner center" style="width: 17%">
                      <label class="col-form-label"
                        ><strong>Número</strong></label
                      >
                    </div>
                    <div class="inner center" style="width: 20%">
                      <label class="col-form-label"
                        ><strong>Cuenta Contable</strong></label
                      >
                    </div>
                    <div class="inner center" style="width: 20%">
                      <label class="col-form-label"
                        ><strong>Atributo Contable</strong></label
                      >
                    </div>
                    <div class="inner center" style="width: 20%">
                      <label class="col-form-label"
                        ><strong>Tipo Gasto</strong></label
                      >
                    </div>
                    <div class="inner center" style="width: 10%">
                      <label class="col-form-label"
                        ><strong>Tipo Oper.</strong></label
                      >
                    </div>
                    <div class="inner center" style="width: 10%">
                      <label class="col-form-label"
                        ><strong>Uso Contable</strong></label
                      >
                    </div>
                  </div>
                  <div *ngIf="listaRelacionContable">
                    <div
                      formArrayName="relacionControles"
                      class="row"
                      *ngFor="let item of listaRelacionContable; let i = index"
                    >
                      <ng-container [formGroupName]="i">
                        <div
                          style="width: 3%"
                          class="inner center aplicaBackground"
                        >
                          <input
                            type="radio"
                            [value]="item?.relacionContableId"
                            (change)="onCheckChangeRelacionContable($event)"
                            name="inlineDefaultRadiosExample2"
                          />
                        </div>
                        <div
                          class="inner center aplicaBackground"
                          style="width: 17%"
                        >
                          <p class="medium">
                            {{ item?.cuentaContable.codigo }}
                          </p>
                        </div>
                        <div
                          class="inner center aplicaBackground"
                          style="width: 20%"
                        >
                          <p class="medium">
                            {{ item?.cuentaContable.nombre }}
                          </p>
                        </div>
                        <div
                          class="inner center aplicaBackground"
                          style="width: 20%"
                        >
                          <p class="medium">
                            {{ item?.atributoContable.nombre }}
                          </p>
                        </div>
                        <div
                          class="inner center aplicaBackground"
                          style="width: 20%"
                        >
                          <p class="medium">
                            {{ item?.tipoGasto.nombre }}
                          </p>
                        </div>
                        <div
                          class="inner center aplicaBackground"
                          style="width: 10%"
                        >
                          <p class="medium">
                            {{ item?.tipoOperacion }}
                          </p>
                        </div>
                        <div
                          class="inner center aplicaBackground"
                          style="width: 10%"
                        >
                          <p class="medium">
                            {{ item?.usoContable }}
                          </p>
                        </div>
                      </ng-container>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </form>

          <div class="form-group right" style="margin: 0px">
            <button
              type="button"
              class="btn btn-primary"
              (click)="onAceptar()"
              [disabled]="!habilitaControlAceptar"
            >
              Aceptar
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>