<div class="container ">
  <div class="row">
    <div class="col-xs-12">
      <div class="card">
        <h1>{{ usuario.nombres }} {{ usuario.apellidos }}</h1>
        <div class="card-body">
          <div>
            <strong>Cargo:</strong>
            <p>{{ usuario.cargoDescripcion }}</p>
          </div>
          <div>
            <strong>Area:</strong>
            <p>{{ usuario.areaDescripcion }}</p>
          </div>
          <div>
            <strong>Fecha de último acceso:</strong>
            <p>{{ usuario.fechaUltimoAcceso | timeago }}</p>
          </div>
          <div>
            <strong>Fecha de creación:</strong>
            <p>{{ usuario.fechaCreacion | date: "mediumDate" }}</p>
          </div>
        </div>
        <div class="card-footer">
          <div class="btn-group d-flex">
            <button class="btn btn-primary w-100">Like</button>
            <button class="btn btn-success w-100">Message</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
