<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="card" style="padding: 25px;">
        <h1>CUENTA DE USUARIO</h1>
        <div class="card-header" style="padding: 0px;">
          <div>
            <strong>Nombre de usuario:</strong>
            <p>{{ usuario?.username }}</p>
          </div>
        </div>
        <div class="card-body" style="padding: 0px;">
          <div>
            <strong>Usuario:</strong>
            <p>{{ usuario?.nombres }} {{ usuario?.apellidos }}</p>
          </div>
          <div>
            <strong>Cargo:</strong>
            <p>{{ usuario?.cargoNombre }}</p>
          </div>
          <div>
            <strong>Area:</strong>
            <p>{{ usuario?.areaNombre }}</p>
          </div>
          <div>
            <strong>Fecha de último acceso:</strong>
            <p>{{ usuario?.fechaUltimoAcceso | date }}</p>
          </div>
          <div>
            <strong>Fecha de creación:</strong>
            <p>{{ usuario?.fechaCreacion | date: "mediumDate" }}</p>
          </div>
          <div>
            <strong>Perfiles del usuario</strong>
            <p style="margin: 2px;" *ngFor="let item of usuario?.perfiles">{{ item?.nombre }}</p>
          </div>
        </div>
        <div class="justificar mt-3">
          <div>
            <button class="btn btn-primary" (click)="onModificarUsuario()">
              Modificar
            </button>
          </div>
          <div class="divider"></div>
          <div>
            <button class="btn btn-danger" (click)="onEliminarUsuario()">
              Eliminar
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
