<div class="container-fluid mt-1">
  <div class="row no-gutters">
    <div class="col-12">
      <h2 class="text-center text-primary" style="margin: 0px">
        {{ nombreTransaccion }}
      </h2>
      <hr style="margin: 5px" />
    </div>
  </div>
</div>

<form [formGroup]="facturaHeaderForm">
  <div class="container-fluid mt-1">
    <div class="row mt-2" *ngIf="mostrarCabecera">
      <div class="col-12">
        <table
          class="table"
          id="tablaContenedor"
          style="width: 90%; margin-left: auto; margin-right: auto"
        >
          <tr>
            <td style="padding: 0px 10px">
              <!--RUBRO PRESUPUESTAL-->
              <div class="form-row mt-3">
                <div class="form-group col-md-2" style="margin: 0px">
                  <label
                    for="inputIdentificacionRubro"
                    class="col-form-label-md"
                    >Identificación</label
                  >
                  <input
                    [(ngModel)]="search"
                    typeaheadOptionField="identificacion"
                    [typeahead]="suggestions$"
                    [typeaheadAsync]="true"
                    (typeaheadOnSelect)="typeaheadOnSelect($event)"
                    placeholder="Ingrese el código"
                    formControlName="rubroPresupuestalCtrl"
                    class="form-control border border-bottom-0 addPaddingLeft"
                    style="height: 20px; background-color: white"
                    id="inputIdentificacionRubro"
                    value="{{ rubroPresupuestal?.identificacion }}"
                  />
                  <div
                    class="alert alert-danger"
                    role="alert"
                    *ngIf="errorMessage"
                  >
                    {{ errorMessage }}
                  </div>
                </div>
                <div class="form-group col-md-7" style="margin: 0px">
                  <label for="inputRubroPresupuestal" class="col-form-label-md"
                    >Rubro Presupuestal</label
                  >
                  <input
                    [(ngModel)]="searchNombre"
                    typeaheadOptionField="nombre"
                    [typeahead]="suggestionsXNombre$"
                    [typeaheadAsync]="true"
                    (typeaheadOnSelect)="typeaheadOnSelectXNombre($event)"
                    placeholder="Ingrese el rubro presupuestal"
                    maxlength="50"
                    formControlName="rubroPresupuestalDescripcionCtrl"
                    id="inputRubroPresupuestal"
                    class="form-control border border-bottom-0 addPaddingLeft"
                    style="height: 20px; background-color: white"
                    value="{{ rubroPresupuestal?.nombre }}"
                  />
                </div>

                <div class="form-group col-md-3" style="margin: 0px">
                  <table>
                    <tr style="vertical-align: bottom">
                      <td style="padding-top: 15px">
                        &nbsp;
                        <button
                          type="submit"
                          class="btn btn-primary"
                          (click)="onBuscarFactura()"
                        >
                          Buscar
                        </button>
                        <button
                          type="submit"
                          class="btn btn-success ml-2"
                          (click)="onLimpiarFactura()"
                        >
                          Limpiar
                        </button>
                        <button
                          type="submit"
                          class="btn btn-warning ml-2"
                          (click)="exportarExcel()"
                        >
                          Reporte
                        </button>
                      </td>
                    </tr>
                  </table>
                </div>
              </div>
            </td>
          </tr>
          <!--Grilla de facturas-->
          <tr>
            <td style="padding: 0px 15px">
              <div class="form-row mt-2">
                <div style="width: 5%" class="inner aplicaBackground center">
                  <label class="col-form-label-md">NUM</label>
                </div>
                <div style="width: 36%" class="inner aplicaBackground center">
                  <label class="col-form-label-md"
                    >DESCRIPCION DE LA COMPRA</label
                  >
                </div>
                <div style="width: 5%" class="inner aplicaBackground center">
                  <label class="col-form-label-md">CDP</label>
                </div>
                <div style="width: 8%" class="inner aplicaBackground center">
                  <label class="col-form-label-md">V.INICIAL</label>
                </div>
                <div style="width: 6%" class="inner aplicaBackground center">
                  <label class="col-form-label-md">V.MODIF</label>
                </div>
                <div style="width: 8%" class="inner aplicaBackground center">
                  <label class="col-form-label-md">S.ACTUAL</label>
                </div>
                <div style="width: 8%" class="inner aplicaBackground center">
                  <label class="col-form-label-md">V.CDP</label>
                </div>
                <div style="width: 8%" class="inner aplicaBackground center">
                  <label class="col-form-label-md">V.COMPR</label>
                </div>
                <div style="width: 8%" class="inner aplicaBackground center">
                  <label class="col-form-label-md">V.OBLI</label>
                </div>
                <div style="width: 8%" class="inner aplicaBackground center">
                  <label class="col-form-label-md">V.PAGA</label>
                </div>
              </div>
              <div *ngIf="listaPlanAdquisicion">
                <div
                  formArrayName="planPagoControles"
                  class="form-row"
                  *ngFor="let item of listaPlanAdquisicion; let i = index"
                >
                  <ng-container [formGroupName]="i">
                    <div
                      style="width: 5%"
                      class="inner center aplicaBackground fontSmaller"
                    >
                      <p>
                        {{ item?.detalleCdpId }}
                      </p>
                    </div>
                    <div
                      style="width: 36%"
                      class="inner left aplicaBackground fontSmaller"
                    >
                      <p>
                        {{ item?.planDeCompras }}
                      </p>
                    </div>
                    <div
                      style="width: 5%"
                      class="inner center aplicaBackground fontSmaller"
                    >
                      <p>
                        {{ item?.cdp }}
                      </p>
                    </div>
                    <div
                      style="width: 8%"
                      class="inner right aplicaBackground fontSmaller"
                    >
                      <p>
                        {{ item?.valorAct | number: "1.2-2" }}
                      </p>
                    </div>
                    <div
                      style="width: 6%"
                      class="inner right aplicaBackground fontSmaller"
                    >
                      <p>
                        {{ item?.valorModif | number: "1.2-2" }}
                      </p>
                    </div>
                    <div
                      style="width: 8%"
                      class="inner right aplicaBackground fontSmaller"
                    >
                      <p>
                        {{ item?.saldoAct | number: "1.2-2" }}
                      </p>
                    </div>
                    <div
                      style="width: 8%"
                      class="inner right aplicaBackground fontSmaller"
                    >
                      <a
                        [routerLink]=""
                        (click)="abrirPopupGeneral(item?.cdp, 3)"
                        >{{ item?.valorCDP | number: "1.2-2" }}</a
                      >
                    </div>
                    <div
                      style="width: 8%"
                      class="inner right aplicaBackground fontSmaller"
                    >
                      <a
                        [routerLink]=""
                        (click)="abrirPopupGeneral(item?.cdp, 4)"
                      >
                        {{ item?.valorRP | number: "1.2-2" }}
                      </a>
                    </div>
                    <div
                      style="width: 8%"
                      class="inner right aplicaBackground fontSmaller"
                    >
                      <a
                        [routerLink]=""
                        (click)="abrirPopupGeneral(item?.cdp, 5)"
                      >
                        {{ item?.valorOB | number: "1.2-2" }}
                      </a>
                    </div>
                    <div
                      style="width: 8%"
                      class="inner right aplicaBackground fontSmaller"
                    >
                      <a
                        [routerLink]=""
                        (click)="abrirPopupGeneral(item?.cdp, 6)"
                      >
                        {{ item?.valorOP | number: "1.2-2" }}
                      </a>
                    </div>
                  </ng-container>
                </div>
              </div>
            </td>
          </tr>
          <!--Paginación-->
          <tr>
            <td style="padding: 0px">
              <div class="d-flex justify-content-center mt-3">
                <pagination
                  [boundaryLinks]="true"
                  [totalItems]="pagination.totalItems"
                  [itemsPerPage]="pagination.itemsPerPage"
                  [(ngModel)]="pagination.currentPage"
                  (pageChanged)="pageChanged($event)"
                  previousText="&lsaquo;"
                  nextText="&rsaquo;"
                  firstText="&laquo;"
                  lastText="&raquo;"
                  [ngModelOptions]="{ standalone: true }"
                  [maxSize]="pagination.maxSize"
                >
                </pagination>
              </div>
            </td>
          </tr>          
        </table>
      </div>
    </div>
  </div>
</form>

<!-- <p>Form status: {{ facturaHeaderForm.status | json }}</p> -->
<!-- <div class="col-12" *ngIf="planPagoIdSeleccionado > 0"></div> -->
<!-- <p>detallePlanPago: {{ detallePlanPago | json }}</p> -->
