<div class="container-fluid">
  <div class="row">
    <div class="col-12 addPadding">
      <div class="modal-content">
        <div class="modal-header" style="padding: 5px">
          <h4 class="modal-title pull-left" style="margin: 0px">{{ title }}</h4>
          <button
            type="button"
            class="close pull-right"
            aria-label="Close"
            (click)="bsModalRef.hide()"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div
          class="modal-body"
          style="padding-top: 0px; background-color: gainsboro"
        >
          <form [formGroup]="popupForm">

            <!--OBSERVACIONES-->
            <div class="form-row">
              <div class="form-group col-12">
                <label for="inputObservaciones" class="col-form-label-md"
                  >Observaciones</label
                >
                <textarea
                  [ngClass]="{
                    'is-invalid':
                      popupForm.get('observacionesCtrl').errors &&
                      popupForm.get('observacionesCtrl').touched
                  }"
                  name="textarea"
                  class="form-control addPadding"
                  formControlName="observacionesCtrl"
                  style="width: 100%; background-color: white"
                  id="inputObservaciones"
                  rows="2"
                  maxlength="200"
                  placeholder="Ingrese las observaciones aquí"
                ></textarea>
                <div class="invalid-feedback left">
                  Registre el campo observaciones
                </div>
              </div>
            </div>
          </form>

          <div class="form-group right" style="margin: 0px">
            <button
              type="button"
              class="btn btn-primary"
              (click)="onAceptar()"
              [disabled]="!popupForm.valid"
            >
              Aceptar
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>