<form
  [formGroup]="registerForm"
  
>
  <div  class="container-fluid">
    <div class="row">
      <div class="col-12">
        <table style="width: 100%;">
          <tr>           
            <td style="width: 25%;">
              <table style="width: 100%;">
                <tr>
                  <td>
                    <label class="col-form-label-md"
                      ><strong>Tipo de Operación</strong></label
                    >&nbsp;
                    <select
                      placeholder="Tipo de operación"
                      formControlName="tOperacionControl"
                      class="form-control"
                      style="width: 150px;display: inline-block; padding-left: 5px;"
                      (change)="onSelectTipoOperacion()"
                      [ngClass]="{
                        'is-invalid':
                          registerForm.get('tOperacionControl').touched &&
                          registerForm
                            .get('tOperacionControl')
                            .hasError('required')
                      }"
                    >
                      <option disabled [ngValue]="null"
                        >Tipo operación</option
                      >
                      <option *ngFor="let item of listaTO" [ngValue]="item">
                        {{ item.nombre }}
                      </option>
                    </select>
                    <div
                      class="invalid-feedback"
                      *ngIf="
                        registerForm.get('tOperacionControl').touched &&
                        registerForm
                          .get('tOperacionControl')
                          .hasError('required')
                      "
                    >
                      El tipo de operación es requerido
                    </div>
                  </td>
                </tr>
              </table>
            </td>
            <td style="width: 25%;" *ngIf="!esSolicitudInicial">
              <table style="width: 100%;">
                <tr>
                  <td >
                    <label
                      class="col-form-label-md"
                      for="inputCDP"
                      [ngClass]="{ deshabilitar: cdpSeleccionado }"
                      ><strong>Número de CDP</strong></label
                    >&nbsp;
                    <input
                      id="inputCDP"
                      [ngClass]="{
                        'is-invalid':
                          registerForm.get('cdpControl').errors &&
                          registerForm.get('cdpControl').touched
                      }"
                      type="number"
                      class="form-control"
                      style="width: 130px; display: inline-block"
                      placeholder="CDP"
                      formControlName="cdpControl"
                      min="1"
                      onkeypress="return event.charCode >= 48"
                    />
                    <div class="invalid-feedback">
                      Por favor ingrese el número de cdp
                    </div>
                  </td>
                </tr>
              </table>
            </td>
            <td style="width: 50%;">
              <tr>
                <td>
                  <table style="width: 100%;">
                    <tr>
                      <td>
                        <button
                          type="submit"
                          class="btn btn-primary"
                          [disabled]="!registerForm.valid"
                          (click)="onBuscarCDP()"
                          style="width: 100px;"
                        >
                          Buscar</button
                        >&nbsp;
                        <button
                          type="submit"
                          class="btn btn-success"
                          (click)="onLimpiarCDP(registerForm)"
                          [disabled]="!habilitaBotonLimpiar"
                          style="width: 100px;"
                        >
                          Limpiar
                        </button>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</form>
<div class="container-fluid mt-2">
  <div class="row no-gutters center">
    <div class="col-12" *ngIf="cdp != null">
      <app-cdp-edit
        [cdp]="cdp"
        [tipoOperacion]="tipoOperacionSelecionado"
        [rubroPresupuestalesSeleccionado]="rubroPresupuestalSinCdpSeleccionado"
      ></app-cdp-edit>
    </div>
  </div>
</div>
<div class="container-fluid mt-2">
  <div class="row no-gutters center">
    <div class="col-12" *ngIf="rubroPresupuestalSinCdpSeleccionado?.length > 0">
      <app-cdp-edit
        [cdp]="cdp"
        [tipoOperacion]="tipoOperacionSelecionado"
        [rubroPresupuestalesSeleccionado]="rubroPresupuestalSinCdpSeleccionado"
      ></app-cdp-edit>
    </div>
  </div>
</div>

<!-- <p>Form value: {{ cdpForm.value | json }}</p>
<p>Form status: {{ cdpForm.status | json }}</p> -->
