.row {
  margin-right: 10px;
  margin-left: 10px;
}
.center {
  text-align: center;
  margin: auto;
}

.left {
  text-align: left;
}

.withoutPadding {
  padding: 0px;
}

.deshabilitar {
    color: #ccc;

}

button {
    width: 100%;
}

/* table td {
  border: 1px solid black;
  width: 10%;
} */

