<a
  mat-list-item
  [ngStyle]="{ 'padding-left': depth * 12 + 'px' }"
  (click)="onItemSelected(item)"
  [ngClass]="{
    active: item.ruta ? router.isActive(item.ruta, true) : false,
    expanded: expanded
  }"
  class="menu-list-item"
  style="font-size:14px"
>
  <mat-icon class="routeIcon">{{ item.icono }}</mat-icon>
  {{ item.nombre }}
  <span fxFlex *ngIf="item.hijos && item.hijos.length">
    <span fxFlex></span>
    <mat-icon [@indicatorRotate]="expanded ? 'expanded' : 'collapsed'">
      expand_more
    </mat-icon>
  </span>
</a>
<div *ngIf="expanded">
  <app-menu-list-item
    *ngFor="let child of item.hijos"
    [item]="child"
    [depth]="depth + 1"
  >
  </app-menu-list-item>
</div>
