table {
    border-collapse: collapse;
    width: 100%;
  }
  
  .bordealo {
    border: 1px solid #ccc;
  }
  
  .addPadding {
    padding: 10px;
  } 

  .addPaddingTop {
    padding-top: 10px;
    background-color: transparent;
  } 
  
  .withoutPadding {
    padding: 0px;
    padding-left: 0px;
  }
  
  .withoutBorder {
    border: none;
  }
  
  .withoutBorderBotton {
    border-bottom: none;
  }
  
  .withBorderBotton {
    border-bottom: 1px solid #ccc;
  }
  
  .inner {
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-top: 1px solid #ccc;
  }
  
  table td {
    padding: 0px;
    vertical-align: top;
  }
  
  .inner {
    border-right: 1px solid #ccc;
    padding: 5px 5px;
  }
  
  .inner-end {
    padding: 5px 5px;
  }
  
  .aplicaBackground {
    background-color: gainsboro;
  }
  
  .gfg {
    border-collapse: separate;
    border-spacing: 0 15px;
  }
  
  .center {
    text-align: center;
  }
  
  .right {
    text-align: right;
  }
  
  .left {
    text-align: left;
  }

  .medium {
    font-size: 14px;
  }

  input[type="text"] {
    background-color: white;
    height: 30px;
    padding: 0px;
  }

  
  