table {
  border-collapse: collapse;
  width: 100%;
}

table,
th,
td {
  border: 1px solid black;
}

.borderRight {
  border-right: 1px solid black;
}

.borderBotton {
  border-bottom: 1px solid black;
}

.borderBottonRight {
  border-bottom: 1px solid black;
  border-right: 1px solid black;
}

.borderTopBottonRight {
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  border-right: 1px solid black;
}

.borderTopBotton {
  border-bottom: 1px solid black;
  border-top: 1px solid black;
}

.borderTop {
  border-top: 1px solid black;
}

.borderComplete {
  border: 1px solid black;
}

.addHeight {
  height: 20px;
}

.addHeight30 {
  height: 30px;
}

.addHeight50 {
  height: 50px;
}

.aplicaBackground {
  background-color: lightgrey;
}

.right {
  text-align: right;
}

.left {
  text-align: left;
}

.addPaddingLeft {
  padding-left: 10px;
}

.addPaddingRight {
  padding-right: 10px;
}

.addPadding {
  padding: 15px;
}

.fontSmaller {
  font-size: 10px;
}

.fontVerySmaller {
  font-size: 9px;
}

.withoutPadding {
  padding: 0px;
}

.stronger {
  font-weight: bold;
}

.center {
  margin: auto;
  text-align: center;
  width: 100%;
  height: 100%;
}

.centerAlign {
  text-align: center;
}

.verticalCenter {
  vertical-align: middle;
}

.small {
  font-size: smaller;
}

.withoutBorderBotton {
  border-bottom: none;
}

.noBorder {
  border:hidden;
}

.withoutMarginBottom {
  margin-bottom: 0px;
  margin-top: 5px;
}
