<div class="container bordealo">
  <form>
    <div class="form-row">
      <div class="col-12">
        <p>estoy es una nueva pagina de la agencia nacional del ane</p>
      </div>
    </div>
    <div class="form-row">
      <div class="col-1 inner">
          <p>sdfsdfsdfsdfsd</p>
      </div>
      <div class="col-5  inner">
        <p>sdfsdfsdfsdfsd</p>
      </div>
      <div class="col-2  inner">
        <p>sdfsdfsdfsdfsd</p>
      </div>
      <div class="col-1  inner">
        <p>sdfsdfsdfsdfsd</p>
      </div>
      <div class="col-1  inner">
        <p>sdfsdfsdfsdfsd</p>
      </div>
      <div class="col-1  inner">
        <p>sdfsdfsdfsdfsd</p> 
      </div>
      <div class="col-1  inner">
        <p>sdfsdfsdfsdfsd</p>
      </div>
    </div>
  </form>
</div>
