<div class="container-fluid">
  <div class="row">
    <div class="col-12 addPadding">
      <div class="modal-content">
        <div class="modal-header" style="padding: 5px">
          <h4 class="modal-title pull-left" style="margin: 0px">{{ title }}</h4>
          <button
            type="button"
            class="close pull-right"
            aria-label="Close"
            (click)="bsModalRef.hide()"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" style="padding-top: 0px">
          <form #editForm="ngForm" id="editForm" [formGroup]="popupForm">
            <div class="row">
              <div class="col-2 inner aplicaBackground center">
                <label class="col-form-label"><strong>Cdp</strong></label>
              </div>
              <div class="col-2 inner aplicaBackground center">
                <label class="col-form-label"><strong>Crp</strong></label>
              </div>
              <div class="col-2 inner aplicaBackground center">
                <label class="col-form-label"><strong>Mes</strong></label>
              </div>
              <div class="col-2 inner aplicaBackground center">
                <label class="col-form-label"
                  ><strong>Valor a pagar</strong></label
                >
              </div>
              <div class="col-2 inner aplicaBackground center">
                <label class="col-form-label"><strong>Viáticos</strong></label>
              </div>
              <div class="col-2 inner aplicaBackground center">
                <label class="col-form-label"
                  ><strong>Número pago</strong></label
                >
              </div>
            </div>
            <div *ngIf="listaPlanPago">
              <div
                formArrayName="planPagoControles"
                class="row"
                *ngFor="let item of listaPlanPago; let i = index"
              >
                <ng-container [formGroupName]="i">
                  <div class="col-2 inner left">
                    <p class="medium">
                      <input
                        type="radio"
                        [value]="item?.planPagoId"
                        (change)="onCheckChange($event)"
                        name="inlineDefaultRadiosExample"
                      />
                      {{ item?.cdp }}
                    </p>
                  </div>
                  <div class="col-2 inner center">
                    <p class="medium">{{ item?.crp }}</p>
                  </div>
                  <div class="col-2 inner center">
                    <p class="medium">
                      {{ item?.mesPagoDescripcion }}
                    </p>
                  </div>
                  <div class="col-2 inner right">
                    <p class="medium">
                      {{ item?.valorAPagar | number: "1.2-2" }}
                    </p>
                  </div>
                  <div class="col-2 inner center">
                    <p class="medium">
                      {{ item?.viaticosDescripcion }}
                    </p>
                  </div>
                  <div class="col-2 inner center">
                    <p class="medium">
                      {{ item?.numeroPago }}
                    </p>
                  </div>
                </ng-container>
              </div>
            </div>
          </form>
          <div style="height: 10px"></div>
          <div class="d-flex justify-content-center">
            <pagination
              [boundaryLinks]="true"
              [totalItems]="pagination.totalItems"
              [itemsPerPage]="pagination.itemsPerPage"
              [(ngModel)]="pagination.currentPage"
              (pageChanged)="pageChanged($event)"
              previousText="&lsaquo;"
              nextText="&rsaquo;"
              firstText="&laquo;"
              lastText="&raquo;"
              [ngModelOptions]="{ standalone: true }"
              [maxSize]="pagination.maxSize"
            ></pagination>
          </div>

          <div class="row">
            <div class="col-12 right withoutPadding">
              <button
                type="button"
                class="btn btn-primary"
                (click)="onAceptar()"
              >
                {{ closeBtnName }}
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
