<div class="container-fluid">
  <div class="row">
    <div class="col-12 addPadding">
      <div class="modal-content">
        <div class="modal-header" style="padding: 5px">
          <h4 class="modal-title pull-left" style="margin: 0px">{{ title }}</h4>
          <button
            type="button"
            class="close pull-right"
            aria-label="Close"
            (click)="bsModalRef.hide()"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div
          class="modal-body"
          style="padding-top: 0px; background-color: gainsboro"
        >
          <form [formGroup]="popupForm">
            <!--FACTURA-->
            <div class="form-row mt-2">
              <div class="form-group col-6">
                <label for="inputFacturas" class="col-form-label-md"
                  >Número de Factura</label
                >

                <input
                  [ngClass]="{
                    'is-invalid':
                      popupForm.get('numeroFacturaCtrl').errors &&
                      popupForm.get('numeroFacturaCtrl').touched
                  }"
                  type="text"
                  class="form-control border border-bottom-0 addPadding"
                  maxlength="20"
                  formControlName="numeroFacturaCtrl"
                  placeholder="Ingrese número de factura"
                  id="inputFacturas"
                />
                <div class="invalid-feedback left">Factura requerida</div>
              </div>
              <div class="form-group col-6">
                <label for="inputValorFacturado" class="col-form-label-md"
                  >Valor facturado</label
                >

                <input
                  type="text"
                  [ngClass]="{
                    'is-invalid':
                      popupForm.get('valorFacturaCtrl').errors &&
                      popupForm.get('valorFacturaCtrl').touched
                  }"
                  style="text-align: right"
                  class="form-control border border-bottom-0 addPadding"
                  formControlName="valorFacturaCtrl"
                  appTwoDigitDecimaNumber
                  placeholder="Ingrese valor de la factura"
                  id="inputValorFacturado"
                />
                <div
                  class="invalid-feedback"
                  *ngIf="
                    popupForm.get('valorFacturaCtrl').touched &&
                    popupForm.get('valorFacturaCtrl').hasError('required')
                  "
                >
                  Valor de factura requerido
                </div>
              </div>
            </div>
            <!--ACTIVIDAD ECONOMICA-->
            <div class="form-row">
              <div class="form-group col-2">
                <label for="selectActividad">
                  <strong>Código</strong></label
                >
                <select
                  id="selectActividad"
                  placeholder="Actividad Económica"
                  formControlName="actividadEconomicaCtrl"
                  class="form-control withoutPadding"
                  [(ngModel)]="actividadEconomicaSeleccionada"
                  style="height: 30px; background-color: white"
                  (change)="onSelectActividadEconomica()"
                  [ngClass]="{
                    'is-invalid':
                      popupForm.get('actividadEconomicaCtrl').touched &&
                      popupForm
                        .get('actividadEconomicaCtrl')
                        .hasError('required')
                  }"
                >
                  <option disabled [ngValue]="null">Actividad Económica</option>
                  <option
                    *ngFor="let item of listaActividadEconomica"
                    [ngValue]="item"
                  >
                    {{ item.codigo }}
                  </option>
                </select>

                <div
                  class="invalid-feedback"
                  *ngIf="
                    popupForm.get('actividadEconomicaCtrl').touched &&
                    popupForm.get('actividadEconomicaCtrl').hasError('required')
                  "
                >
                  Debe seleccionar la actividad económica
                </div>
              </div>
              <div class="form-group col-10">
                <label for="selectActividad">
                  <strong>Actividad Económica</strong></label
                >
                <p>{{ actividadEconomicaSeleccionada.nombre }}</p>
              </div>
            </div>
            <!--RANGO FECHAS-->
            <div class="form-row">
              <div class="form-group col-6">
                <label for="inputFechaInicio" class="col-form-label-md"
                  >Fecha inicio</label
                >

                <input
                  [ngClass]="{
                    'is-invalid':
                      popupForm.get('fechaInicioCtrl').errors &&
                      popupForm.get('fechaInicioCtrl').touched
                  }"
                  class="form-control border border-bottom-0 addPadding"
                  placeholder="Fecha de inicio"
                  formControlName="fechaInicioCtrl"
                  type="text"
                  bsDatepicker
                  [bsConfig]="bsConfig"
                  id="inputFechaInicio"
                  style="height: 33px; text-align: center"
                />
                <div
                  class="invalid-feedback"
                  *ngIf="
                    popupForm.get('fechaInicioCtrl').touched &&
                    popupForm.get('fechaInicioCtrl').hasError('required')
                  "
                >
                  La fecha inicio es requerida
                </div>
              </div>
              <div class="form-group col-6">
                <label for="inputFechaFinal" class="col-form-label-md"
                  >Fecha fin</label
                >

                <input
                  [ngClass]="{
                    'is-invalid':
                      popupForm.get('fechaFinalCtrl').errors &&
                      popupForm.get('fechaFinalCtrl').touched
                  }"
                  class="form-control border border-bottom-0 addPadding"
                  placeholder="Fecha Final"
                  formControlName="fechaFinalCtrl"
                  type="text"
                  bsDatepicker
                  [bsConfig]="bsConfig"
                  id="inputFechaFinal"
                  style="height: 33px; text-align: center"
                />
                <div
                  class="invalid-feedback"
                  *ngIf="
                    popupForm.get('fechaFinalCtrl').touched &&
                    popupForm.get('fechaFinalCtrl').hasError('required')
                  "
                >
                  La fecha fin es requerida
                </div>
              </div>
            </div>
             <!--BASE GRAVABLE Y VALOR IVA-->
            <div class="form-row">
              <div class="form-group col-6">
                <label for="inputValorBaseGravable" class="col-form-label-md"
                  >Valor Base Gravable Renta</label
                >

                <input
                  type="text"
                  [ngClass]="{
                    'is-invalid':
                      popupForm.get('valorBaseGravableRentaCtrl').errors &&
                      popupForm.get('valorBaseGravableRentaCtrl').touched
                  }"
                  style="text-align: right"
                  class="form-control border border-bottom-0 addPadding"
                  formControlName="valorBaseGravableRentaCtrl"
                  appTwoDigitDecimaNumber
                  placeholder="Ingrese valor Base Gravable Renta"
                  id="inputValorBaseGravable"
                />
                <div
                  class="invalid-feedback"
                  *ngIf="
                    popupForm.get('valorBaseGravableRentaCtrl').touched &&
                    popupForm.get('valorBaseGravableRentaCtrl').hasError('required')
                  "
                >
                  Valor Base Gravable Renta requerido
                </div>
              </div>
              <div class="form-group col-6">
                <label for="inputValorIva" class="col-form-label-md"
                  >Valor Iva</label
                >

                <input
                  type="text"
                  [ngClass]="{
                    'is-invalid':
                      popupForm.get('valorIvaCtrl').errors &&
                      popupForm.get('valorIvaCtrl').touched
                  }"
                  style="text-align: right"
                  class="form-control border border-bottom-0 addPadding"
                  formControlName="valorIvaCtrl"
                  appTwoDigitDecimaNumber
                  placeholder="Ingrese valor Iva"
                  id="inputValorIva"
                />
                <div
                  class="invalid-feedback"
                  *ngIf="
                    popupForm.get('valorIvaCtrl').touched &&
                    popupForm.get('valorIvaCtrl').hasError('required')
                  "
                >
                  Valor Iva requerido
                </div>
              </div>
            </div>
            <!--OBSERVACIONES-->
            <div class="form-row">
              <div class="form-group col-12">
                <label for="inputObservaciones" class="col-form-label-md"
                  >Observaciones</label
                >
                <textarea
                  [ngClass]="{
                    'is-invalid':
                      popupForm.get('observacionesCtrl').errors &&
                      popupForm.get('observacionesCtrl').touched
                  }"
                  name="textarea"
                  class="form-control addPadding"
                  formControlName="observacionesCtrl"
                  style="width: 100%; background-color: white"
                  id="inputObservaciones"
                  rows="2"
                  maxlength="200"
                  placeholder="Ingrese las observaciones aquí"
                ></textarea>
                <div class="invalid-feedback left">
                  Registre el campo observaciones
                </div>
              </div>
            </div>
            <!--NUMERO DE PLANILLA Y MES DE APORTES-->
            <div class="form-row">
              <div class="form-group col-6">
                <label for="inputNumeroPlanilla" class="col-form-label-md"
                  >Número de Planilla</label
                >

                <input
                  type="text"
                  [ngClass]="{
                    'is-invalid':
                      popupForm.get('numeroPlanillaCtrl').errors &&
                      popupForm.get('numeroPlanillaCtrl').touched
                  }"
                  style="text-align: center"
                  class="form-control border border-bottom-0 addPadding"
                  formControlName="numeroPlanillaCtrl"
                  placeholder="Ingrese Número de Planilla"
                  id="inputNumeroPlanilla"
                />
                <div
                  class="invalid-feedback"
                  *ngIf="
                    popupForm.get('numeroPlanillaCtrl').touched &&
                    popupForm.get('numeroPlanillaCtrl').hasError('required')
                  "
                >
                  Base cotización requerido
                </div>
              </div>
              <div class="form-group col-6">
                <label for="selectMes" class="col-form-label-md"
                  >Mes de Aportes</label
                >
                <select
                  placeholder="Mes"
                  formControlName="mesCtrl"
                  class="form-control withoutPadding"
                  style="height: 30px; background-color: white"
                  (change)="onSelectMes()"
                  id="selectMes"
                  [(ngModel)]="mesSeleccionado"
                  [ngClass]="{
                    'is-invalid':
                      popupForm.get('mesCtrl').touched &&
                      popupForm.get('mesCtrl').hasError('required')
                  }"
                >
                  <option disabled [ngValue]="null">Mes</option>
                  <option *ngFor="let item of listaMeses" [ngValue]="item">
                    {{ item.nombre }}
                  </option>
                </select>
                <div
                  class="invalid-feedback"
                  *ngIf="
                    popupForm.get('mesCtrl').touched &&
                    popupForm.get('mesCtrl').hasError('required')
                  "
                >
                  Debe seleccionar el mes de aportes
                </div>
              </div>
            </div>
            <!--BASE COTIZACION-->
            <div class="form-row">
              <div class="form-group col-6">
                <label for="inputBaseCotizacion" class="col-form-label-md"
                  >Base de cotización</label
                >

                <input
                  type="text"
                  [ngClass]="{
                    'is-invalid':
                      popupForm.get('baseCotizacionCtrl').errors &&
                      popupForm.get('baseCotizacionCtrl').touched
                  }"
                  style="text-align: right"
                  class="form-control border border-bottom-0 addPadding"
                  formControlName="baseCotizacionCtrl"
                  appTwoDigitDecimaNumber
                  placeholder="Ingrese base cotización"
                  id="inputBaseCotizacion"
                />
                <div
                  class="invalid-feedback"
                  *ngIf="
                    popupForm.get('baseCotizacionCtrl').touched &&
                    popupForm.get('baseCotizacionCtrl').hasError('required')
                  "
                >
                  Base cotización requerido
                </div>
              </div>
            </div>
          </form>

          <div class="form-group right" style="margin: 0px">
            <button
              type="button"
              class="btn btn-primary"
              (click)="onAceptar()"
              [disabled]="!popupForm.valid"
            >
              Aceptar
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
